#title {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    box-shadow: 10px -8px teal;
    border: 2px solid pink;
}

#background {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    opacity: 0.2;
    background-color: black;
}

.nav-bar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    z-index: 1;
}

#home {
  grid-column: 2/3;
}

#menu {
  grid-column: 3/4;
}

#contact {
  grid-column: 4/5;
}

h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
    font-size: 3em;
}

.yogrev {
    font-size: 1.5em;
    background-color: white;
    border: 2px solid pink;
    height: 400px;
    padding: 20px;
    margin-top: 20px;
    z-index: 1;
}

.title-container {
    height: 80px;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.text-container {
    height: 500px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    margin: 0 auto;
    background: white;
    z-index: 2;
}

button {
  background-color: whitesmoke;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px 10px 0px 10px;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}